.about-home-section{
    background-color: rgb(255, 255, 255);
}
.about-btn{
    background-color: blueviolet;
    color: white;
}
.about-btn:hover{
    background-color: rgb(87, 18, 151);
     color: white;
}