@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
}
span{
    color: blueviolet;
}

.hero-btn{
    background-color: blueviolet;
    color: white;
}
.hero-btn:hover{
    background-color: rgb(87, 18, 151);
     color: white;
}

/*========== Desktop =========== */
@media (min-width: 1200px) {
  .hero-img {
    width: 850px;
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-img {
    width: 700px;
    height: auto;
  }
}

@media (max-width: 991px) and (min-width: 576px) {
  .hero-img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}

/*========== Mobile =========== */
@media (max-width: 575px) {
  .hero-img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

